
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<TubeRehber.Model.Entities.Member>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        User Table
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>UserName</th>
                        <th>Name</th>
                        <th>SurName</th>
                        <th>BirthDate</th>
                        <th> Email</th>
                        <th>Status</th>
                        <th>Update</th>



                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Role</th>
                        <th>UserName</th>
                        <th>Name</th>
                        <th>SurName</th>
                        <th>BirthDate</th>
                        <th> Email</th>
                        <th>Status</th>
                        <th>Update</th>


                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Role</td>
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.SurName</td>
                            <td>@item.BirthDate</td>
                            <td>@item.Email</td>
                            <td>@item.Status</td>
                            <td> <a href="/Admin/MemberTransactions/Update/@item.ID" class="templatemo-edit-btn">Update</a> </td>
                            
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
    <h1></h1>
    <form action="/Admin/MemberTransactions/Add" method="get" enctype="multipart/form-data">
        <input type="submit" value="Üye Ekle" class="form-control btn btn-primary">
    </form>
    <h6> </h6>
    <form action="/Admin/MemberTransactions/Delete" method="get" enctype="multipart/form-data">
        <input type="submit" value="Üye Sil" class="form-control btn btn-primary">
        </form>


        <div class="card-footer small text-muted"></div>
</div>

